<div class="" ng-include="'app/views/TopMenuView.html'"></div>

<div class="container-fluid">
    <div class="row">

        <div class="" ng-include="'app/views/passes/LeftMenuView.html'"></div>

        <div ng-controller="CreateStoreCardController" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-init="init()" id="couponController">
            <h1 class="page-header">Create Your Store Card</h1>
            <div class="row">
            	<div class="col-md-4">
					<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
					<button class="btn btn-info" ng-click="reload()">Reload</button>
					<button class="btn btn-success" ng-click="save()">Save</button>
				</div>
				<div class="col-md-8">
					<a href="#">http://www.the url of this pass......</a>
				</div>
            </div>
            <div class="row">
            	<div class="col-md-4">  
            		<p class="margin-top-20">
            			<div id="passbook" style="position: relative;">
							<div class="passbook-container passbook-store-card">
								<div class="passbook-flipper" style="background: url('{{card.backgroundImage}}');">
									<div class="passbook-front " style="background-color: {{card.backcolor}}">
										<div class="passbook-picker"></div>
										<table class="passbook-header">
											<tbody>
												<tr>
													<td rowspan="2" class="passbook-logo passbook-has-image"><img ng-src="{{card.logo}}" ng-model="card.logo" style="width: 50px; height: 50px;"></td>
													<th rowspan="2" class="passbook-title" style="color: {{card.forecolor}}">{{card.logoText}}</th>
												</tr>
											</tbody>
										</table>
										<table class="passbook-header-field" >
											<thead>
												<tr >
													<th ng-repeat="headerField in headerFields" class="passbook-header-label" style="color: {{card.labelcolor}}" >{{headerField.label}}</th>
												</tr>
											</thead>
											<tbody>
												<tr >
													<td ng-repeat="headerField in headerFields" class="passbook-header-value" style="color: {{card.forecolor}}">{{headerField.value}}</td>
												</tr>
											</tbody>
										</table>
										<div class="passbook-thumbnail passbook-has-image" ><img ng-src="{{card.thumbnail}}" style="width: 90px; height: 90px;"></div>
										<div class="passbook-transport passbook-shading"></div>
										<div style="position: absolute; width: 320px; height: 90px; top: 70px; background: url('{{card.stripImage}}');" class="strip-image">
										</div>
										<table class="passbook-primary">
											<thead>
												<tr >
													<th ng-repeat="primaryField in primaryFields" class="passbook-primary-label" style="color: {{card.labelcolor}}" >{{primaryField.label}}</th>
												</tr>
											</thead>
											<tbody>
												<tr >
													<td ng-repeat="primaryField in primaryFields" class="passbook-primary-value" style="color: {{card.forecolor}}">{{primaryField.value}}</td>
												</tr>
											</tbody>
										</table>
										<table class="passbook-extra-fields passbook-secondary">
											<tbody>
												<tr>
													<th ng-repeat="secondaryField in secondaryFields" style="color: {{card.labelcolor}}">{{secondaryField.label}}</th>
												</tr>
												<tr>
													<td ng-repeat="secondaryField in secondaryFields" style="color: {{card.forecolor}}">{{secondaryField.value}}</td>
												</tr>
											</tbody>
										</table>	
										<table class="passbook-extra-fields passbook-auxiliary">
											<tbody>
												<tr>
													<th ng-repeat="auxiliaryField in auxiliaryFields" style="color: {{card.labelcolor}}">{{auxiliaryField.label}}</th>
												</tr>
												<tr>
													<td ng-repeat="auxiliaryField in auxiliaryFields" style="color: {{card.forecolor}}">{{auxiliaryField.value}}</td>
												</tr>
											</tbody>
										</table>
										<div class="passbook-barcode passbook-barcode-{{card.barcodeType}}">
											<div id="barcode" class="barcode"></div>
										</div>
										<div class="passbook-moreinfo" ng-click="flip()"></div>
									</div>
									<div class="passbook-back" style="background-color: {{card.backcolor}}">
										<div class="passbook-done" ng-click="flip()"></div>
										<div class="passbook-back-fields" style="background-color: {{card.backcolor}}">
											<table ng-repeat="backField in backFields">
												<tbody >
													<tr >
														<th >{{backField.label}}</th>
													</tr>
													<tr >
														<td style="border-bottom: 1px solid;">{{backField.value}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
            		</p>
            	</div>
            	<div class="col-md-8">
            		<div class="form-horizontal">
            			<div class="panel panel-primary">
            				<div class="panel-heading">Main Passbook</div>
            				<div class="panel-body">
								<div class="form-group">
									<label for="location" class="col-sm-3 control-label">Logo</label>
		    						<div class="col-sm-4">
		    							<div>
		      								<img id="pass_logo" alt="Pass Logo" src="http://placehold.it/72x72&amp;text=icon.png" style="width: 72px;height: 72px">
		      							</div>
		      							<div>
		      								<input type="text" class="form-control" id="file_logoicon" ng-change="changeLogo()" ng-model="card.logo">
	      								</div>	      								
		    						</div>
		            			</div>
								<div class="form-group">
									<label for="location" class="col-sm-3 control-label">Logo2X</label>
		    						<div class="col-sm-4">
		    							<div>
		      								<img id="pass_logo2" alt="Pass Logo" src="http://placehold.it/72x72&amp;text=icon.png" style="width: 144px;height: 144px">
		      							</div>
		      							<div>
		      								<input type="text" class="form-control" id="file_logoicon" ng-change="changeLogo2x()" ng-model="card.logo2x">
	      								</div>	      								
		    						</div>
		            			</div>
								<div class="form-group">
									<label for="logoText" class="col-sm-3 control-label">Logo Text</label>
		    						<div class="col-sm-9">
		      							<input type="text" class="form-control" placeholder="Logo Text" ng-model="card.logoText">
		    						</div>            			
		            			</div>
								<div class="form-group">
									<label for="logoText" class="col-sm-3 control-label">Name</label>
		    						<div class="col-sm-9">
		      							<input type="text" class="form-control" placeholder="Name" ng-model="card.name">
		    						</div>            			
		            			</div>
								<div class="form-group">
									<label for="logoText" class="col-sm-3 control-label">Visible From</label>
		    						<div class="col-sm-9">
		      							<input type="text" class="form-control" placeholder="Visible From" ng-model="card.visibleFrom">
		    						</div>            			
		            			</div>
								<div class="form-group">
									<label for="logoText" class="col-sm-3 control-label">Visible To</label>
		    						<div class="col-sm-9">
		      							<input type="text" class="form-control" placeholder="Visible To" ng-model="card.visibleTo">
		    						</div>            			
		            			</div>
								<div class="form-group">
									<label for="location" class="col-sm-3 control-label">Icon</label>
		    						<div class="col-sm-4">
		    							<div>
		      								<img id="pass_icon" alt="Pass Icon" src="http://placehold.it/72x72&amp;text=icon.png" style="width: 72px;height: 72px">
		      							</div>
		      							<div>
		      								<input type="text" class="form-control" id="file_logoicon" ng-change="changeIcon()" ng-model="card.icon">
	      								</div>	      								
		    						</div>
		            			</div>
								<div class="form-group">
									<label for="location" class="col-sm-3 control-label">Icon2X</label>
		    						<div class="col-sm-4">
		    							<div>
		      								<img id="pass_icon2" alt="Pass Icon" src="http://placehold.it/72x72&amp;text=icon.png" style="width: 144px;height: 144px">
		      							</div>
		      							<div>
		      								<input type="text" class="form-control" id="file_logoicon" ng-change="changeIcon2x()" ng-model="card.icon2x">
	      								</div>	      								
		    						</div>
		            			</div>
								<div class="form-group">
									<label for="logoText" class="col-sm-3 control-label">manifest</label>
		    						<div class="col-sm-9">
		      							<input type="text" class="form-control" placeholder="manifest" ng-model="card.manifest">
		    						</div>            			
		            			</div>
								<div class="form-group">
									<label for="logoText" class="col-sm-3 control-label">Signature</label>
		    						<div class="col-sm-9">
		      							<input type="text" class="form-control" placeholder="Signature" ng-model="card.signature">
		    						</div>            			
		            			</div>
								<div class="form-group">
									<label for="logoText" class="col-sm-3 control-label">Uri</label>
		    						<div class="col-sm-9">
		      							<input type="text" class="form-control" placeholder="Uri" ng-model="card.uri">
		    						</div>            			
		            			</div>
            				</div>
            			</div>
						
						<div class="panel panel-primary">
            				<div class="panel-heading">
            					Header Fields
           						<button class='btn btn-success btn-x-sm pull-right' ng-click='addHeaderFields()'><span class="glyphicon glyphicon-plus"></span></button>
           						<div class="clearfix"></div>
           					</div>
            				<div class="panel-body">
		            			<div class="form-group" ng-repeat='headerField in headerFields' >
									<label for="headerField" class="col-sm-3 control-label">Header Field #{{ $index }}</label>
		    						<div class="col-sm-2">
		      							<input type="text" class="form-control" placeholder="Key" ng-model="headerField.key">
		    						</div>
		    						<div class="col-sm-3">
		      							<input type="text" class="form-control" placeholder="Label" ng-model="headerField.label">
		    						</div>
		    						<div class="col-sm-3">
		      							<input type="text" class="form-control" placeholder="Value" ng-model="headerField.value">
		    						</div>
		    						<div class="col-sm-1">
		    							<button class='btn btn-danger btn-x-sm' ng-click="deleteHeaderFields($index)"><span class="glyphicon glyphicon-minus"></span></button>
		    						</div>
		            			</div>
            				</div>
            			</div>
            			
            			<div class="panel panel-primary">
            				<div class="panel-heading">
            					Primary Fields
           						<button class='btn btn-success btn-x-sm pull-right' ng-click='addPrimaryFields()'><span class="glyphicon glyphicon-plus"></span></button>
           						<div class="clearfix"></div>
           					</div>
            				<div class="panel-body">
		            			<div class="form-group" ng-repeat='primaryField in primaryFields' >
									<label for="primaryField" class="col-sm-3 control-label">Primary Field #{{ $index }}</label>
		    						<div class="col-sm-2">
		      							<input type="text" class="form-control" placeholder="Key" ng-model="primaryField.key">
		    						</div>
		    						<div class="col-sm-3">
		      							<input type="text" class="form-control" placeholder="Label" ng-model="primaryField.label">
		    						</div>
		    						<div class="col-sm-3">
		      							<input type="text" class="form-control" placeholder="Value" ng-model="primaryField.value">
		    						</div>
		    						<div class="col-sm-1">
		    							<button class='btn btn-danger btn-x-sm' ng-click="deletePrimaryFields($index)"><span class="glyphicon glyphicon-minus"></span></button>
		    						</div>
		            			</div>
            				</div>
            			</div>
            			
            			<div class="panel panel-primary">
            				<div class="panel-heading">
            					Auxiliary Fields
           						<button class='btn btn-success btn-x-sm pull-right' ng-click='addAuxiliaryFields()'><span class="glyphicon glyphicon-plus"></span></button>
           						<div class="clearfix"></div>            					
           					</div>
            				<div class="panel-body">
		            			<div class="form-group" ng-repeat='auxiliaryField in auxiliaryFields'>
									<label for="auxiliaryField" class="col-sm-3 control-label">Auxiliary Field #{{ $index }}</label>
		    						<div class="col-sm-2">
		      							<input type="text" class="form-control" placeholder="Key" ng-model="auxiliaryField.key">
		    						</div>
		    						<div class="col-sm-3">
		      							<input type="text" class="form-control" placeholder="Label" ng-model="auxiliaryField.label">
		    						</div>
		    						<div class="col-sm-3">
		      							<input type="text" class="form-control" placeholder="Value" ng-model="auxiliaryField.value">
		    						</div>
		    						<div class="col-sm-1">
		    							<button class='btn btn-danger btn-x-sm' ng-click="deleteAuxiliaryFields($index)"><span class="glyphicon glyphicon-minus"></span></button>
		    						</div>
		            			</div>
            				</div>
            			</div>
						
						<div class="panel panel-primary">
            				<div class="panel-heading">
            					Secondary Fields
           						<button class='btn btn-success btn-x-sm pull-right' ng-click='addSecondaryFields()'><span class="glyphicon glyphicon-plus"></span></button>
           						<div class="clearfix"></div>            					
           					</div>
            				<div class="panel-body">
		            			<div class="form-group" ng-repeat='secondaryField in secondaryFields'>
									<label for="secondaryField" class="col-sm-3 control-label">Secondary Field #{{ $index }}</label>
		    						<div class="col-sm-2">
		      							<input type="text" class="form-control" placeholder="Key" ng-model="secondaryField.key">
		    						</div>
		    						<div class="col-sm-3">
		      							<input type="text" class="form-control" placeholder="Label" ng-model="secondaryField.label">
		    						</div>
		    						<div class="col-sm-3">
		      							<input type="text" class="form-control" placeholder="Value" ng-model="secondaryField.value">
		    						</div>
		    						<div class="col-sm-1">
		    							<button class='btn btn-danger btn-x-sm' ng-click="deleteSecondaryFields($index)"><span class="glyphicon glyphicon-minus"></span></button>
		    						</div>
		            			</div>
            				</div>
            			</div>

            			<div class="panel panel-primary">
            				<div class="panel-heading">
            					Back Fields
					           	<button class='btn btn-success btn-x-sm pull-right' ng-click='addBackFields()'><span class="glyphicon glyphicon-plus"></span></button>
           						<div class="clearfix"></div> 
           					</div>
            				<div class="panel-body">
            				
		            			<div class="form-group" ng-repeat='backField in backFields'>
									<label for="backFiled" class="col-sm-3 control-label">Back Field #{{ $index }}</label>
		    						<div class="col-sm-2">
		      							<input type="text" class="form-control" placeholder="Key" ng-model="backField.key">
		    						</div>
		    						<div class="col-sm-2">
		      							<input type="text" class="form-control" placeholder="Label" ng-model="backField.label">
		    						</div>
		    						<div class="col-sm-4">
		      							<textarea class="form-control" ng-model="backField.value"></textarea>
		    						</div>
		    						<div class="col-sm-1">
		    							<button class='btn btn-danger btn-x-sm' ng-click="deleteBackFields($index)"><span class="glyphicon glyphicon-minus"></span></button>
		    						</div>		    								    								    						
		            			</div>
            				</div>
            			</div>
            			
            			<div class="panel panel-primary">
            				<div class="panel-heading">
            					Locations
					           	<button class='btn btn-success btn-x-sm pull-right' ng-click='addLocations()'><span class="glyphicon glyphicon-plus"></span></button>
           						<div class="clearfix"></div>             					
           					</div>
            				<div class="panel-body">
		            			<div class="form-group" ng-repeat='location in locations'>
									<label for="location" class="col-sm-3 control-label">Location #{{ $index }}</label>
		    						<div class="col-sm-4" style="width: 15%">
		      							<input type="text" class="form-control" placeholder="Altitude" value="{{location.alt}}">
		    						</div>
		    						<div class="col-sm-4" style="width: 15%">
		      							<input type="text" class="form-control" placeholder="Latitude"  value="{{location.lat}}">
		    						</div>
									<div class="col-sm-4" style="width: 15%">
		      							<input type="text" class="form-control" placeholder="Longitude" value="{{location.lng}}">
		    						</div>
		    						<div class="col-sm-4" style="width: 15%">
		      							<input type="text" class="form-control" placeholder="relevantText"  value="{{location.rel}}">
		    						</div>
		    						<div class="col-sm-1">
		    							<button class='btn btn-danger btn-x-sm' ng-click="deleteLocations($index)"><span class="glyphicon glyphicon-minus"></span></button>
		    						</div>
		            			</div>
            				</div>
            			</div>
						
						<div class="panel panel-primary">
            				<div class="panel-heading">
            					Relevant Date
					           	<button class='btn btn-success btn-x-sm pull-right' ng-click='addRelevantDates()'><span class="glyphicon glyphicon-plus"></span></button>
           						<div class="clearfix"></div>             					
           					</div>
							<div class="panel-body">
								<div class="form-group" ng-repeat='relevantDate in relevantDates'>
									<label for="relevantDate" class="col-sm-3 control-label">Date #{{ $index }}</label>
									<div class="col-sm-4">
		      							<input type="text" class="form-control" placeholder="Altitude" value="{{relevantDate.date}}">
		    						</div>
									<div class="col-sm-1">
		    							<button class='btn btn-danger btn-x-sm' ng-click="deleteRelevantDates($index)"><span class="glyphicon glyphicon-minus"></span></button>
		    						</div>
								</div>
							</div>
						</div>
            			
            			<div class="panel panel-primary">
            				<div class="panel-heading">Barcode</div>
            				<div class="panel-body">
		            			<div class="form-group">
									<label for="format" class="col-sm-3 control-label">Format</label>
		    						<div class="col-sm-4">
		    							<select class="form-control" ng-model="card.barcodeType" ng-change="changeBarCode();">
		    								<option value="qrcode">QR Barcode</option>
		    								<option value='pdf417'>PDF Barcode</option>		    			
		    							</select>
		    						</div>		    								    						
		            			</div>
		            			
		            			<div class="form-group">
									<label for="encoding" class="col-sm-3 control-label">Text</label>
		    						<div class="col-sm-4">
		    							<input class="form-control" placeholder="Encoding" ng-model="card.barcodeText" />
		    						</div>
		    						<div>
		    							<button class="btn btn-success" ng-click="generate()">Generate</button>
		    						</div>
		            			</div>		            			
            				</div>
            			</div>
            			
            			<div class="panel panel-primary">
            				<div class="panel-heading">Style</div>
            				<div class="panel-body">
								<div class="form-group">
									<label for="location" class="col-sm-3 control-label">Strip Image</label>
		    						<div class="col-sm-4">
		      							<input type="text" ng-model="card.stripImage" ng-change="changeStripImage()"/>
		    						</div>			
		            			</div>
								<div class="form-group">
									<label for="location" class="col-sm-3 control-label">Strip Image(2x)</label>
		    						<div class="col-sm-4">
		      							<input type="text" ng-model="card.stripImage2x" ng-change="changeStripImage2x()"/>
		    						</div>			
		            			</div>
								<div class="form-group">
									<label for="location" class="col-sm-3 control-label">Background Color</label>
		    						<div class="col-sm-4">
		      							R:<input type="text" ng-model="card.backcolor_r" ng-change="changeColor();" style="width: 15%;" />
		      							G:<input type="text" ng-model="card.backcolor_g" ng-change="changeColor();" style="width: 15%;" />
		      							B:<input type="text" ng-model="card.backcolor_b" ng-change="changeColor();" style="width: 15%;" />
		    						</div>			
		            			</div>
								<div class="form-group">
									<label for="location" class="col-sm-3 control-label">Foreground Color</label>
		    						<div class="col-sm-4">
		      							R:<input type="text" ng-model="card.forecolor_r" ng-change="changeColor();"  style="width: 15%;" />
		      							G:<input type="text" ng-model="card.forecolor_g" ng-change="changeColor();"  style="width: 15%;" />
		      							B:<input type="text" ng-model="card.forecolor_b" ng-change="changeColor();"  style="width: 15%;" />
		    						</div>				
		            			</div>
		            			<div class="form-group">
									<label for="location" class="col-sm-3 control-label">Label Color</label>
		    						<div class="col-sm-4">
		      							R:<input type="text" ng-model="card.labelcolor_r" ng-change="changeColor();"  style="width: 15%;" />
		      							G:<input type="text" ng-model="card.labelcolor_g" ng-change="changeColor();"  style="width: 15%;" />
		      							B:<input type="text" ng-model="card.labelcolor_b" ng-change="changeColor();"  style="width: 15%;" />
		    						</div>			
		            			</div>	            					            			
            				</div>
            			</div>

            		</div>
            	</div>
            </div>

        </div>
    </div>
</div>
<<script type="text/javascript">
function readImage(input) {
    if ( input.files && input.files[0] ) {
        var FR= new FileReader();
        FR.onload = function(e) {
             $('#pass_icon').attr( "src", e.target.result );
             angular.element( document.getElementById("couponController")).scope().setLogo( e.target.result );
        };       
        FR.readAsDataURL( input.files[0] );
    }
}
function readImage2(input) {
	if ( input.files && input.files[0] ) {
        var FR= new FileReader();
        FR.onload = function(e) {
             $('#pass_icon2x').attr( "src", e.target.result );
             angular.element( document.getElementById("couponController")).scope().setThumbnail( e.target.result );
        };       
        FR.readAsDataURL( input.files[0] );
    }
}
$(document).ready(function() {
	$("#file_logoicon").change(function(){
	    readImage ( this );
	});
	$("#file_thumbnail").change(function(){
		readImage2 ( this );
	});
	$(window).scroll(function(evt) {
		$("#passbook").css("top", $(this).scrollTop());
	});
});
</script>